node_modules
.env
public
.tmp<% if (filters.sass) { %>
.sass-cache<% } %>
.idea
client/bower_components
client/index.html
dist
/server/config/local.env.js
npm-debug.log
coverage

# Hide compiled js files that were compiled by typescript
assets/app/**/*.js
assets/app/**/*.js.map
